<form [formGroup]="dimensionsForm">
  Szerokość <input formControlName="width" placeholder="Długość">cm<br />
  Długość <input formControlName="length" placeholder="Szerokość">cm<br />
  Wysokość <input formControlName="height" placeholder="Wysokość">cm<br />

  <button type="submit">Send</button>
</form>
<canvas #canvas width="1000" height="500"></canvas>

